name: Build and Publish Docker image to GHCR

on:
  release:
    types: [published]
  workflow_dispatch:

jobs:
  build-and-push:
    runs-on: ubuntu-latest

    permissions:
      contents: read
      packages: write

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Extract version from tag
        id: vars
        run: |
          RAW_TAG="${GITHUB_REF#refs/tags/}"
          CLEAN_TAG="${RAW_TAG#v}"
          echo "version=${CLEAN_TAG}" >> "$GITHUB_OUTPUT"

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Log in to GHCR
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and push Docker image
        uses: docker/build-push-action@v6
        with:
          # Anche qui: contesto root, Dockerfile in d2ha
          context: .
          file: ./d2ha/Dockerfile
          push: true
          tags: |
            ghcr.io/arborae/docker2homeassistant:latest
            ghcr.io/arborae/docker2homeassistant:${{ steps.vars.outputs.version }}
